<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/text_summarization">Text Summarization</a></li>
            <li><a href="/stable_diffusion">Stable Diffusion</a></li>
            <li><a href="/etl">ETL</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
